# dependencies
**/node_modules

# production
/dist
/.vscode

# test
tests/__coverage__/
tests/**/*.jsx
/coverage

# misc
.DS_Store
npm-debug.log*
yarn-error.log

# visual studio code
*bak
.vscode
.history
*.log
.temp/**
.idea/

# screenshot
screenshot
.firebase
.eslintcache

build

src/pages/designer/plugins/plugin-code-editor